h4, h5, h6 { 
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #7c93ff;
}

p {
    color: orange;
    font-size: 18px;
    background-color: lightgray;
}


h1 {
    color: greenyellow;
    text-align: center;
    background-color: darkgreen;
}

/* h2 {
    color: lightgreen;
    text-align: center;
    background-color: darkblue;
}

h3 {
    color: lightgreen;
    text-align: center;
    background-color: darkblue;
} */

button {
    padding: 12px 24px;
    background-color: navy;
    color: white;
    border: none;
    border-radius: 5px;
}


.subtitulo {
    color: lightgreen;
    text-align: center;
    background-color: darkblue;
}

.btn-clic {
    padding: 12px 24px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
}   


.btn-dark {
    background-color: black;
}



#btn-pay {
    padding: 12px 24px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 10px;
}

#comments {
    font-size: 16px;
    color: gray;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
}

/* input[type="email"] {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
} */


.email {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

div.container div.card button.btn-clic {
    background-color: purple;
}

ul.frutas > li {
    color: red;
}


/* PSEUDO-CLASES (estados) */
a:hover { 
    color: #22d3ee;
    text-decoration: underline;
    zoom: 1.6;
}

button:hover { 
    color: #22d3ee;
    text-decoration: underline;
}

button:active {
    transform: scale(1.3);
    background-color: #ff6b6b;
}

input:focus { 
    outline: 2px solid #7c93ff;
    background-color: #22d3ee;
    font-size: 20px;
    font-style: italic;
}

input:invalid {
    border-color: #ff6b6b;
}


li:first-child {
    font-weight: bold;
    color: green;
}

li:last-child {
    font-weight: bold;
    color: orange   ;
}

li:nth-child(4) {
    font-weight: bold;
    color: purple   ;
}



h5, .frutas, .btn-clic, #comments {
    font-family: 'Poppins', sans-serif;
    background-color: #7c93ff;
}