.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    height: 800px;
    border: 3px solid orange;
    justify-content: center;
    align-items: center;
}

.item {
    background-color: lightblue;
    border: 2px solid navy;
    padding: 20px;
    margin: 10px;
    font-size: 1.5rem;
    flex: 1;
    /* Reparte espacio equitativamente */
}

.primero-elemento {
    flex: 1 1 200px;
}

.segundo-elemento {
    flex: 2 1 300px;
}



.banner-nike {
    background: url(https://unicosmoderna.com/cdn/shop/collections/BANNER-NIKE.jpg?v=1706111961&width=2048);
    height: 300px;
    background-size: cover;
}



/* // detectar web mobile de 0 a 360px, 412px */
@media (max-width: 412px) {

    .banner-nike {
        background: url(https://unicosmoderna.com/cdn/shop/collections/BANNER-NIKE.jpg?v=1706111961&width=2048);
        height: 300px;
        background-size: cover;
    }

}